@font-face {
  font-family: 'Mulish';
  src: url('/fonts/Mulish-Variable.woff2') format('woff2');
  font-weight: 200 1000;
  font-display: swap;
}
@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/GolosText-Variable.woff2') format('woff2');
  font-weight: 400 900;
  font-display: swap;
}
